/*
Author: Elaiah S. Asperin
Created: 17 December 2021
Last Modified: 17 December 2021
Description: Footer stylesheet for "AI: The Inner Workings"
*/


/* ========================================================================= */


/* General Styles */

footer {
    background-color: rgb(7, 30, 61);
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 30px;
    margin-top: 40px;
}

footer > h3 {
    margin: 0px;
    margin-bottom: 10px;
    float: left;
}

footer > p {
    margin: 0px;
    clear: both;
}

footer > a {
    color: white;
    text-decoration: none;
}

footer img {
    width: 100px;
    height: 100px;
    margin-top: -108.2px;
    float: right;
    border-radius: 50px;
}