/*
Author: Elaiah S. Asperin
Created: 23 October 2021
Last Modified: 17 December 2021
Description: General stylsheet for "AI: The Inner Workings"
*/


/* ========================================================================= */


/* Imported Styles */

@import "header.css";
@import "title.css";
@import "footer.css";


/* ========================================================================= */


/* General Styles */

* {
    color: white;
}

html {
    height: 100%;
}

body {
    background-color: rgb(10, 20, 31);
    height: 100%;
    margin: 0px;
}

hr {
    background-color: white;
    box-sizing: border-box;

    width: calc(100% - 200px);
    height: 6px;

    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid white;
    border-radius: 3px;
}
